.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    /* height: 25px;
    width: 25px; */
    border: 1px solid black; /* Adjust border thickness as needed */
    flex: 1;
}
.grid-cell:hover
{
    background-color: blue;
}
